.menu {
    font: lato;
    padding: .5px 1px 2px;
    color:aqua;
}

.header {
    color: #4A4949;

}
.header h1 {
    padding: 2.5px 30px 65px;
    font-family:lato;
    font-size:60px;

}

.header p {
    font-family:lato;
    font-size:15px;

}
/* This media query means those styles will only apply to screens larger than 650px wide, so on mobile they will still stack instead of having the text overlapping the image */
@media screen and (min-width:650px) {
  .header {
      position: relative;
      right:.9375rem;
      margin-bottom:2rem;
  }

  .header p {
      position: absolute;
      bottom: 20px;
      max-width: 40rem; /* limiting the width from going too big on large screens */

  }
}
/* This is the end of the media query */

/* is this p2 class being used? */



/* PORTFOLIO STYLES */

.grid-container h2 {
    font-family: lato;
    font-size: 40px;
    position: ;
    padding:0 0rem 2rem;
    bottom: 10px;
    color: #4A4949;
}
.portfolio-item {
  background-color: #4A4949;
}

.portfolio-item p {
  padding:0 2.5rem 2rem;
  color: white;
}

.portfolio-item h3 {
  background-color:white;
  max-width: 85%;
  padding:10px 40px;
  margin:0 auto; /* this puts it in the center */
  font-size: 1.4em;
  position: relative;
  top:-20px;
  font: lato;
  color:#4A4949;
}

/* CONTACT FORM STYLES */

.data-abide novalidate {
    padding:10px 40px;
  margin:0 auto;
}

/* Digital Portfolio */

.grid-container h4 {
   font-family: lato;
    font-size: 40px;
    position: center ;
    padding:0 rem 2rem;
    bottom: 10px;
    color: #4A4949;
}
.grid-container p {
    max-width: rem;

}

#project1{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}

#project2{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}

#project3{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}

#project4{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}
#project5{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}

#project6{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}

#project7{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}

#project8{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}

#project9{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}

#project10{
    background:rgba(74,73,73,.82);
    padding: 10px 40px;
    color: white;
    font: lato;
    padding:40px 100px 100px 80px;
}

/* Digital Portfolio Masonry Grid */

.masonry-css { /* Masonry container */
    column-count: 4; /* set the number of columns you want here */
    column-gap: 1em;
}

.masonry-css-item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
