.header {
    text-align: ;
    color: grey;
    
}
.header h1 { 
    padding: 65px;
    font-family:Georgia;
    font-size:60px;
    
}

.header {
    position: relative;
}

.header p {
    font-family:lato;
    font-size:15px;
    position: absolute;
    bottom: 20px;
   
}

.p2 {
    font-family: lato;
    font-size: 30px;
    position: absolute;
    padding-top: 20px;
    bottom: 10px;
    color: slategrey
    
}